{% extends "base.html" %}
{% block content %}
<h3>Clientes Registrados</h3>
</br>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Rut</th>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Celular</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody >
  {% for item in data %}
  <tr>
    <td>{{ item.rut }}</td>
    <td>{{ item.nombre }}</td>
    <td>{{ item.direccion }}</td>
    <td>{{ item.celular }}</td>
    <td>{{ item.email }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock content %}